
<script src="/js/game/phaser.min.js" ></script>
<script src="/js/game/global.js" ></script>
<script src="/js/game/mainScene.js" ></script>
<script src="/js/game/init.js" ></script>
<div id="client">
  <div id="ui">
    <div class="button">
      <%= session.user.name %>
    </div>
  </div>
</div>
  